<!DOCTYPE html>
<html lang="en" translate="no">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta author="Leiva Martin">
    <title>Year 1</title>
    <link rel="icon" type="segador.png" href="/img/tractores.png">
    <link rel="stylesheet" href="/css/cursos.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Agbalumo&family=Oswald:wght@200..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/font/iconos.css">
</head>
<body>
    <header class="cabecera">
        <div class="logo-container">
            <a href="/dashboard">
                <img id="logo" src="/img/logo.png" alt="logo">
            </a>
            <img id="nombre_pagina" src="/img/nombre_pagina.png" alt="">
        </div>
        <div class="user-menu">
            <img id="user-avatar" src="/img/pngwing.png" alt="User Avatar">
            <div class="dropdown-content">
                <p class="userName"><%= user.username %></p>
                <p class="userRole"><%= user.role %></p>
                <a href="/perfil">Perfil</a>
                <a href="/api/auth/logout">Log Out</a>
            </div>
        </div>
    </header>
    <nav id='menu'>
        <input type='checkbox' id='responsive-menu'><label></label>
        <ul>
            <li><a href='/classes/first'>1st YEAR</a></li>
            <li><a href='/classes/second'>2nd YEAR</a></li>
            <li><a href='/classes/third'>3rd YEAR</a></li>
            <li><a href='/classes/fourth'>4th YEAR</a></li>
            <li><a href='/classes/fifth'>5th YEAR</a></li>
            <li><a href='/classes/sixth'>6th YEAR</a></li>
        </ul>
    </nav>
    <main class="curso">
        <section class="cuerpo-curso">
            <h1>Year 1</h1>
            <h2>Units</h2>
            <div class="unidades">
                <div class="unit year-1"><a href="/classes/1/W2English">W2English</a></div>
                <div class="unit year-1"><a href="/classes/1/UNIT1">UNIT 1</a></div>
                <div class="unit year-1"><a href="/classes/1/UNIT2">UNIT 2</a></div>
                <div class="unit year-1"><a href="/classes/1/UNIT3">UNIT 3</a></div>
            </div>
            <a id="download" href="/booklets/YEAR 1 BOOKLET.rar" download="">Booklet download</a>
        </section>
    </main>
    <footer>
        <p>Copyright © 2024 - Leiva Martín R.</p>
        <p><span class="icon-envelope"></span>englishcultivatehub@gmail.com &emsp;|| &emsp;<span class="icon-whatsapp"></span>(3482)-666150</p> 
        <div class="redes">
            <img class="logo-escuela" src="/img/logo_escuela.jpeg" alt="logo_escuela">
            <img class="escuela" src="/img/agrotecnica.jpg" alt="Escuela">
            <div class="iconos">
                <a href="https://www.facebook.com/groups/174789172685781" target="_blank" class="icon-facebook2"></a>
                <a href="https://www.instagram.com/agro487cas/?hl=es-la" target="_blank" class="icon-instagram"></a>
            </div>
        </div>
    </footer>
</body>
</html>