body{
    margin: 0;
    padding: 0;
}

/*ESTILOS A LOS SWEET ALERTS*/
.custom-swal-title {
    font-family: 'Kanit', sans-serif;
    font-weight: 600;
}
.custom-swal-text {
    font-family: 'Kanit', sans-serif;
    font-weight: 400;
}
.custom-swal-button {
    font-family: 'Kanit', sans-serif;
    font-weight: 400;
}
  
/*ESTILOS AL HEADER*/
.cabecera{
    width: 100%;
    height: 17vh;
    border-top: 1vw solid rgb(255, 255, 0);
    border-bottom: 0.5vw solid rgb(255, 255, 0);
    background-color: rgb(4, 62, 4);
    display: flex; 
    align-items: center; /*alinea logo y nombre al centro horizontalmente*/
    justify-content: space-between; /* Distribuye el espacio entre los elementos */
    z-index: 10; /* Asegura que el header esté delante del video */
}
.logo-container {
    display: flex;
    align-items: center;
    width: 60%; /* Ajusta según sea necesario */
}
#logo{
    width: 100%;
    max-width: 7vw;
    padding-left: 10px;
}
#nombre_pagina{
    width: 100%;
    max-width: 35vw;
}
  
/*AVATAR*/
/* Menú de usuario */
.user-menu {
    margin-right: 2%; /* Distancia de 15px del borde derecho */
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
}
#user-avatar {
    width: 100%; /* Ajusta el tamaño del avatar según tus preferencias */
    max-width: 5vw; /* Tamaño máximo para evitar que se expanda demasiado */
    height: auto; /* Mantiene la proporción de la imagen */
    background-color: yellow;
    border-radius: 50%;
}
.dropdown-content {
    display: none;
    position: absolute;
    right: 0; /* Alinea el menú desplegable al lado derecho del avatar */
    top: 100%; /* Coloca el menú debajo del avatar */
    background-color: rgb(68, 68, 68, 0.8);
    min-width: 150px; /* Anchura mínima del menú */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 100;
    text-align: center;
}
.dropdown-content a {
    color: #FFFFFF;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family: 'Kanit', sans-serif;
    font-size: 100%;
}
.dropdown-content a:hover {
    background: rgb(255, 255, 0, 0.7);
    color: #043E04;
}
/* Mostrar el menú desplegable al pasar el ratón por encima */
.user-menu:hover .dropdown-content {
    display: block;
}
.userName{
    padding: 5px 0;
    margin: 0;
    font-family:'Kanit', sans-serif;
    font-size: 130%;
    font-style: italic;
    color: yellow;
    background-color:rgb(86, 169, 86);
}
.userRole{
    padding: 5px 0;
    margin: 0;
    font-family:'Kanit', sans-serif;
    color: red;
    font-size: 120%;
    background-color: rgb(255, 255, 0, 0.8);
    border-bottom: 5px solid #043E04;
}
  
/*ESTILOS AL NAV-BAR*/
#menu{
    width: 100%;
    height: 10vh;
    top: 19.5vh;
    padding-left: 18px;
    background-color: rgb(32, 31, 31);
    display: flex;
    align-items: center;
    z-index: 9; /* Asegura que el nav esté delante del video */
    box-sizing: border-box;
}
#menu ul, #menu li {
    margin: 0 auto;
    padding: 0;
    list-style: none
}
#menu ul {
    width: 100%;
    text-align: left;
}
#menu li {
    display: inline-block;
    position: relative;
}
#menu a {
    display: block;
    line-height: 10vh; /*alto de fondo del navbar*/
    padding: 0 14px;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 100%; /*tamaño letra del menu*/
    font-family: 'Kanit', sans-serif;
}
#menu li a:hover {
    color: #043E04;
    font-weight: bolder;
    background: rgb(255, 255, 0);
}
#menu input {
    display: none;
    margin: 0;
    padding: 0;
    height: 10vh;
    width: 100%;
    opacity: 0;
    cursor: pointer
}
#menu label {
    display: none;
    line-height: 10vh;
    text-align: center;
    position: absolute;
    left: 35px
}
#menu label:before {
    font-size: 100%;
    color: #FFFFFF;
    content: "\2261"; 
    margin-left: 20px;
}

/*MAIN*/
/*------ESTILOS AL SELECT-EXAM-------*/
.examenes{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    background-image: url('/img/cotton.jpg');
    background-size: cover;
    background-position: center;
}
.examen-curso{
    position: relative; /* Set position to relative */
    z-index: 1; /* Set z-index to 1 (higher than #paisaje) */
    width: 80%; /* Ajusta según sea necesario */
    max-width: 1000px; /* Ajusta según sea necesario */
    height: auto;
    background-color: rgb(247, 247, 169,0.8);
    text-align: center;
    display: inline-block;
}
.examen-curso h1{
    color: rgb(4, 62, 4);
    font-family: 'Kanit', sans-serif;
    font-size: 400%;
    margin-top: 0;
    margin-bottom: 0;
}
.examen-curso h2{
    color: yellow;
    font-family: 'Kanit', sans-serif;
    font-size: 200%;
    background-color: rgb(4, 62, 4, 0.7);
    margin-top: 0;
    padding: 10px 0;
    border-bottom: 10px solid orange;  
}
/* Estilos para los select de course y unit */
.examen-curso label {
    display: block;
    font-family: 'Kanit', sans-serif;
    color: rgb(4, 62, 4);
    font-size: 200%;
    font-weight: bolder;
    margin-top: 15px;
    margin-bottom: 5px;
    text-align: center;
}
.examen-curso select {
    width: 60%;
    height: 40px;
    padding: 5px;
    font-size: 120%;
    font-weight: bolder;
    border-radius: 5px;
    border: 2px solid rgb(4, 62, 4);
    margin-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    text-align: center;
    color: rgb(4, 62, 4);
}
.examen-curso button,
.examen-interactivo button,
.retroalimentacion button {
    width: 40%;
    height: 50px;
    background-color: rgb(255, 255, 0);
    color: rgb(4, 62, 4);
    border: 2px solid rgb(4, 62, 4);
    font-family: 'Kanit', sans-serif;
    font-size: 150%;
    border-radius: 5px;
    margin-top: 50px;
    margin-bottom: 50px;
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition: background-color 0.3s ease;
}
.examen-curso button:hover,
.examen-interactivo button:hover,
.retroalimentacion button:hover {
    background-color: rgb(4, 62, 4);
    color: white;
}
/* Centrado del formulario */
.examen-curso form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*----------ESTILOS AL START EXAM------------*/
.exam-start{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    background: rgb(11,24,1);
    background: linear-gradient(180deg, rgba(11,24,1,1) 0%, rgba(30,64,2,1) 50%, rgba(67,107,4,1) 100%);
}
.examen-interactivo{
    width: 80%; /* Ajusta según sea necesario */
    max-width: 1000px; /* Ajusta según sea necesario */
    background-color: rgb(247, 247, 169,0.8);
    font-family: 'Kanit', sans-serif;
}
.examen-interactivo h1{
    color: rgb(4, 62, 4);
    font-size: 400%;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
}
.examen-interactivo h2{
    color: yellow;
    font-size: 200%;
    background-color: rgb(4, 62, 4, 0.7);
    margin-top: 0;
    padding: 10px 0;
    border-bottom: 10px solid orange;
    text-align: center;  
}
#timer{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    font-size: 220%; /* Aumenta el tamaño de la fuente */
    font-weight: bold;
    color: #fff;
    background-color: #333; /* Fondo oscuro estilo tablero */
    padding: 20px 40px; /* Espaciado interno */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5); /* Sombra para resaltar */
    text-align: center;
    font-family: 'Courier New', Courier, monospace; /* Estilo de fuente de tablero */
    letter-spacing: 2px;
}
.examen-interactivo form ul{
    list-style-type: none; /* Elimina los puntos */
}
.examen-interactivo form{
    width: 80%; /* Define el ancho del form */
    margin-left: auto;
    margin-right: auto;
}
.examen-interactivo .question {
    border: 3px solid #043E04;  /* Borde gris alrededor de cada pregunta */
    padding: 15px;           /* Espacio interno alrededor del contenido */
    margin-bottom: 20px;     /* Espacio entre cada pregunta */
    border-radius: 8px;      /* Bordes redondeados */
    background-color: rgb(195, 250, 174);  /* Fondo claro para el recuadro */
}

/*----------ESTILOS AL RESULT EXAM------------*/
.exam-results{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    background: rgb(11,24,1);
    background: linear-gradient(180deg, rgba(11,24,1,1) 0%, rgba(30,64,2,1) 50%, rgba(67,107,4,1) 100%);
}
.tabla-resultados{
    width: 80%; /* Ajusta según sea necesario */
    max-width: 1000px; /* Ajusta según sea necesario */
    background-color: rgb(247, 247, 169,0.8);
    font-family: 'Kanit', sans-serif;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 10px;
}
.tabla-resultados h1{
    color: rgb(4, 62, 4);
    font-size: 200%;
    margin-top:20px;
    text-align: center;
}
/* Estilo para la tabla de resultados */
.tabla-resultados table {
    width: 100%;
    max-width: 800px; /* Ajusta el ancho máximo de la tabla */
    margin: 20px auto; /* Centra la tabla horizontalmente */
    border-collapse: collapse; /* Elimina los espacios entre celdas */
    font-size: 18px; /* Tamaño de fuente */
    background-color: white; /* Fondo blanco para las celdas */
    text-align: center; /* Centra el contenido de las celdas */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Añade sombra alrededor */
}
.tabla-resultados th, .tabla-resultados td {
    padding: 12px 15px; /* Añade espaciado dentro de las celdas */
    border: 1px solid rgb(4, 62, 4); /* Añade un borde */
}
.tabla-resultados th {
    background-color: rgb(4, 62, 4); /* Fondo para los encabezados */
    color: white; /* Texto blanco para los encabezados */
    font-weight: bold;
}
.retroalimentacion{
    width: 80%; /* Ajusta según sea necesario */
    max-width: 1000px; /* Ajusta según sea necesario */
    font-family: 'Kanit', sans-serif;
}
.retroalimentacion h2{
    color: yellow;
    font-size: 200%;
    background-color: rgb(29, 95, 29);
    margin-top: 0;
    padding: 10px 0;
    border-bottom: 10px solid orange;
    text-align: center;  
}
.feedback{
    margin-bottom: 10px;
}
.feedback:nth-child(odd) {
    background-color: rgb(205, 240, 252); /* Celeste */
    padding: 10px 70px;
    border-radius: 10px;
}
.feedback:nth-child(even) {
    background-color: rgb(249, 226, 225); /* Rosa */
    padding: 10px 70px;
    border-radius: 10px;
}
.correcto {
    color: #ffffff; /* Color del texto */
    background-color: #4caf50; /* Verde */
    padding: 5px;
    border-radius: 5px;
}
.incorrecto {
    color: #ff0000; /* Rojo */
    background-color: #fa9897; /* Fondo rosa */
    padding: 5px;
    border-radius: 5px;
}


/* FOOTER */
footer {
    width: 100%;
    border-top: 1.3vw solid rgb(32, 31, 31);
    border-bottom: 1vw solid yellow;
    background-color: rgb(4, 62, 4);
    padding-top: 1%;
}
footer p {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: 100%;
    text-align: center;
}
.icon-envelope, .icon-whatsapp {
    margin-right: 10px;
}
.redes {
    margin-top: 25px;
    padding-bottom: 3%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.logo-escuela, .escuela {
    width: 12%;
    border-radius: 10px 0px;
    margin-bottom: 15px;
    box-shadow: 0 0 5px yellow;
}
.escuela {
    width: 35%;
    margin-bottom: 30px;
}
.iconos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
a {
    text-decoration: none; /* para quitar los subrayados a los enlaces */
}
.icon-facebook2, .icon-instagram {
    font-size: 150%; /* Tamaño de los iconos en font */
    color: yellow;
    cursor: pointer;
    transition: transform 0.3s ease;
}
.icon-facebook2:hover, .icon-instagram:hover {
    color: orange;
    transform: scale(1.2);
}

/*-----------------------------------------------------------------*/

/* MEDIA QUERIES PARA RESPONSIVIDAD */
@media screen and (max-width: 800px){

    /*ESTILOS AL HEADER*/
    .cabecera{
        height: 10vh;
    }
    #logo{
        max-width: 10vw;
    }
    #nombre_pagina{
        max-width: 45vw;
    }
  
    /*AVATAR*/
    #user-avatar {
        max-width: 9vw; /* Tamaño máximo para evitar que se expanda demasiado */
    }
    .dropdown-content {
        min-width: 100px; /* Anchura mínima del menú */
    }
    .dropdown-content a {
        font-size: 3vw;
    }
  
    /*ESTILOS AL NAV-BAR*/
    #menu {position:relative; top: 0; height: 7vh;}
    #menu input, #menu label {position:absolute; display:block; left: 0; } /*Menu hamburguesa alineado a la izq*/
    #menu input {z-index:4}
    #menu input:checked + label {color:#FFFFFF;}
    #menu input:checked + label:before {content:"\00d7"} /*Caracter de una X */
    #menu input:checked ~ ul {display:block}
    #menu label:before{font-size: 5vw;} /* Ajusta este valor para cambiar el tamaño del ícono */
    #menu ul {background:rgb(68, 68, 68, 0.8);position:absolute;top:100%;right:0;left:0;z-index:3;height:auto;display:none;text-align:left;}
    #menu ul.sub-menus {width:100%;position:static;}
    #menu ul.sub-menus a {padding-left:30px;}
    #menu li {display:block;float:none;width:auto;}

    /*MAIN*/
    .examen-curso h1{
        font-size: 200%;
    }
    .examen-curso h2{
        font-size: 120%;
    }
    .examenes-interactivos{
        gap: 20px; /* Agrega espacio entre las cajas */
        padding: 20px 20px 40px 20px; /* Añade espacio interno alrededor del contenedor */
    }
    .exam {
        width: 150px;
        height: 150px;
    }
    .exam a {
        font-size: 130%;
    }
    
    /* FOOTER */
    footer p {
        font-size: 3vw;
        padding: 0 40px;
    }
}