<!DOCTYPE html>
<html lang="en" translate="no">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta author="Leiva Martin">
    <title>Year 1 Unit 2</title>
    <link rel="icon" type="segador.png" href="/img/tractores.png">
    <link rel="stylesheet" href="/css/cursos.css">
    <link rel="stylesheet" href="/css/units.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Agbalumo&family=Oswald:wght@200..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/font/iconos.css">
</head>
<body id="fondo">
    <header class="cabecera">
        <div class="logo-container">
            <a href="/dashboard">
                <img id="logo" src="/img/logo.png" alt="logo">
            </a>
            <img id="nombre_pagina" src="/img/nombre_pagina.png" alt="">
        </div>
        <div class="user-menu">
            <img id="user-avatar" src="/img/pngwing.png" alt="User Avatar">
            <div class="dropdown-content">
                <p class="userName"><%= user.username %></p>
                <p class="userRole"><%= user.role %></p>
                <a href="/perfil">Perfil</a>
                <a href="/api/auth/logout">Log Out</a>
            </div>
        </div>
    </header>
    <nav id='menu'>
        <input type='checkbox' id='responsive-menu'><label></label>
        <ul>
            <li><a href='/classes/first'>1st YEAR</a></li>
            <li><a href='/classes/second'>2nd YEAR</a></li>
            <li><a href='/classes/third'>3rd YEAR</a></li>
            <li><a href='/classes/fourth'>4th YEAR</a></li>
            <li><a href='/classes/fifth'>5th YEAR</a></li>
            <li><a href='/classes/sixth'>6th YEAR</a></li>
        </ul>
    </nav>
    <main class="cuerpo_unidad">
        <h1>Year 1</h1>
        <h2>UNIT 2</h2>

        <section class="unidades">
            <div class="unidad"><a href="/dashboard">HOME</a></div>
            <div class="unidad"><a href="/classes/1/W2English">W to E</a></div>
            <div class="unidad"><a href="/classes/1/UNIT1">UNIT 1</a></div>
            <div class="unidad"><a href="/classes/1/UNIT3">UNIT 3</a></div>
        </section>
        
<!-- ACTIVIDADES DE LAS UNIDADES -->

        <h1>FEELINGS</h1>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/VIxLOUGfZFE?si=HeXHKRKJ9gB01c5p" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        <h3>EXERCISES</h3>
        <hr>
        
        <h1>JOBS AND PROFESSIONS</h1>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/uXmVR42jjYY?si=M7XFkzFaWqKFyexs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        <h3>EXERCISES</h3>
        <hr>

        <h1>VERB "TO BE" - AFFIRMATIVE</h1>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/V_a4DB6gCms?si=-wLdZWAR7Xrs0rHk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        <h3>EXERCISES</h3>
        <hr>

        <h1>VERB "TO BE" - NEGATIVE</h1>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/j8G3fnO1igE?si=1V0K2BPs-_fKegRa" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        <h3>EXERCISES</h3>
        <hr>

        <h1>VERB "TO BE" - YES-NO QUESTIONS</h1>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/1-ASsBQwJYc?si=LIwbpz0VKOfqIOq5" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        <h3>EXERCISES</h3>
        <hr>

        <h1>VERB "TO BE" - WH-QUESTIONS</h1>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/iuFWiwxW8yQ?si=GMqnTvfE3QqObhpt" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        <h3>EXERCISES</h3>
        <hr>

        <h1>DEMONSTRATIVE PRONOUNS</h1>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/Y8SAYe6P4fc?si=WqbzHNO7PZ6VSohs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        <h3>EXERCISES</h3>
        <hr>

        <h3>Practical Work N° 3 - Video Example</h3>
        <h1>WHO'S YOUR FAVOURITE CELEBRITY?</h1>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/bB9EwYkLpkc?si=vpSyUtzYBZa-MorC" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </main>
    <footer>
        <p>Copyright © 2024 - Leiva Martín R.</p>
        <p><span class="icon-envelope"></span>englishcultivatehub@gmail.com &emsp;|| &emsp;<span class="icon-whatsapp"></span>(3482)-666150</p> 
        <div class="redes">
            <img class="logo-escuela" src="/img/logo_escuela.jpeg" alt="logo_escuela">
            <img class="escuela" src="/img/agrotecnica.jpg" alt="Escuela">
            <div class="iconos">
                <a href="https://www.facebook.com/groups/174789172685781" target="_blank" class="icon-facebook2"></a>
                <a href="https://www.instagram.com/agro487cas/?hl=es-la" target="_blank" class="icon-instagram"></a>
            </div>
        </div>
    </footer>
</body>
</html>