<!DOCTYPE html>
<html lang="en" translate="no">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta author="Leiva Martin">
    <title>Year 1 Welcome to English</title>
    <link rel="icon" type="segador.png" href="/img/tractores.png">
    <link rel="stylesheet" href="/css/cursos.css">
    <link rel="stylesheet" href="/css/units.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Agbalumo&family=Oswald:wght@200..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/font/iconos.css">
</head>
<body id="fondo">
    <header class="cabecera">
        <div class="logo-container">
            <a href="/dashboard">
                <img id="logo" src="/img/logo.png" alt="logo">
            </a>
            <img id="nombre_pagina" src="/img/nombre_pagina.png" alt="">
        </div>
        <div class="user-menu">
            <% if (user.profilePicture) { %>
                <img src="<%= user.profilePicture %>" alt="Profile Pic" class="profile-pic-avatar">
            <% } else { %>
                <img id="user-avatar" src="/img/pngwing.png" alt="Profile Pic">
            <% } %>
            <div class="dropdown-content">
                <p class="userName"><%= user.username %></p>
                <p class="userRole"><%= user.role %></p>
                <a href="/users/profile">Profile</a>
                <% if (user.role === 'student') { %>
                    <a href="/users/grades">Grades</a>
                <% } %>
                <% if (user.role === 'teacher') { %>
                    <a href="/question-bank">Create Exam</a>
                    <a href="/users/userList">Registration List</a>
                    <a href="/users/teacher-grades">Grades</a>
                <% } %>
                <a href="/api/auth/logout">Log Out</a>
            </div>
        </div>
    </header>
    <nav id='menu'>
        <input type='checkbox' id='responsive-menu'><label></label>
        <ul>
            <li><a href='/classes/first'>1st YEAR</a></li>
            <li><a href='/classes/second'>2nd YEAR</a></li>
            <li><a href='/classes/third'>3rd YEAR</a></li>
            <li><a href='/classes/fourth'>4th YEAR</a></li>
            <li><a href='/classes/fifth'>5th YEAR</a></li>
            <li><a href='/classes/sixth'>6th YEAR</a></li>
            <li><a href='/select-exam'>Interactive Tests</a></li>
        </ul>
    </nav>
    <main class="cuerpo_unidad"> 
        <h1>Year 1</h1>
        <h2>Welcome to English</h2>

        <section class="unidades">
            <div class="unidad"><a href="/dashboard">HOME</a></div>
            <div class="unidad"><a href="/classes/1/UNIT1">UNIT 1</a></div>
            <div class="unidad"><a href="/classes/1/UNIT2">UNIT 2</a></div>
            <div class="unidad"><a href="/classes/1/UNIT3">UNIT 3</a></div>
        </section>

<!-- ACTIVIDADES DE LAS UNIDADES -->

        <h1>CLASSROOM LANGUAGE</h1>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/64HObItN22M?si=Ym7_0okUmjvRbDyw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <h3>EXERCISES</h3>
        <div class="exercises">
            <a href="https://wordwall.net/resource/68241509/ingl%c3%a9s/instruction-verbs-1" target="_blank">
                <img src="/img/practice.png">
                Instruction Verbs 1
            </a>
            <a href="https://wordwall.net/resource/68242733/ingl%c3%a9s/instruction-verbs-2" target="_blank">
                <img src="/img/practice.png">
                Instruction Verbs 2
            </a>
            <a href="https://wordwall.net/resource/68242262/ingl%c3%a9s/instruction-verbs-3" target="_blank">
                <img src="/img/practice.png">
                Instruction Verbs 3
            </a>
            <a href="https://wordwall.net/resource/68241057/ingl%c3%a9s/classroom-language-1" target="_blank">
                <img src="/img/practice.png">
                Classroom Language 1
            </a>
            <a href="https://wordwall.net/resource/68246596/ingl%c3%a9s/classroom-language-2" target="_blank">
                <img src="/img/practice.png">
                Classroom Language 2
            </a>
            <a href="https://wordwall.net/resource/68245883/ingl%c3%a9s/classroom-language-3" target="_blank">
                <img src="/img/practice.png">
                Classroom Language 3
            </a>
        </div>
        <hr>
        
        <h1>DAYS, MONTHS & SEASONS</h1>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/QGgi0nYhy3Q?si=qqy_BNxIMh34G_gA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <h3>EXERCISES</h3>
        <div class="exercises">
            <a href="https://wordwall.net/resource/68286218/ingl%c3%a9s/days-months-seasons-1" target="_blank">
                <img src="/img/practice.png">
                Days, Months & Seasons 1
            </a>
            <a href="https://wordwall.net/resource/68286715/ingl%c3%a9s/days-months-seasons-2" target="_blank">
                <img src="/img/practice.png">
                Days, Months & Seasons 2
            </a>
            <a href="https://wordwall.net/resource/68288082/ingl%c3%a9s/days-listen-and-order" target="_blank">
                <img src="/img/practice.png">
                Days: Listen and order
            </a>
            <a href="https://wordwall.net/resource/68287737/ingl%c3%a9s/months-listen-and-order" target="_blank">
                <img src="/img/practice.png">
                Months: Listen and order
            </a>
        </div>
        <hr>

        <h1>DATES</h1>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/m8d2cGUdKH0?si=xVEHPgAddgzoZGgG" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <h3>EXERCISES</h3>
        <div class="exercises">
            <a href="https://wordwall.net/resource/68288457/ingl%c3%a9s/dates-unjumble" target="_blank">
                <img src="/img/practice.png">
                Dates: Unjumble
            </a>
            <a href="https://wordwall.net/resource/68289868/ingl%c3%a9s/dates-listen-and-match" target="_blank">
                <img src="/img/practice.png">
                Dates: Listen and match
            </a>
            <a href="https://wordwall.net/resource/68297998/ingl%c3%a9s/birthdays-match" target="_blank">
                <img src="/img/practice.png">
                Birthdays: Match
            </a>
            <a href="https://wordwall.net/resource/68290158/ingl%c3%a9s/birthdays-listen-and-choose" target="_blank">
                <img src="/img/practice.png">
                Birthdays: Listen and choose
            </a>
        </div>
        <hr>

        <h1>THE WEATHER</h1>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/l2aydjn-DKA?si=vY5-HsvnazSUCq4e" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <h3>EXERCISES</h3>
        <div class="exercises">
            <a href="https://wordwall.net/resource/68298687/ingl%c3%a9s/the-weather-1" target="_blank">
                <img src="/img/practice.png">
                The Weather 1
            </a>
            <a href="https://wordwall.net/resource/68298980/ingl%c3%a9s/the-weather-2" target="_blank">
                <img src="/img/practice.png">
                The Weather 2
            </a>
            <a href="https://wordwall.net/resource/68300496/ingl%c3%a9s/whats-the-weather-like" target="_blank">
                <img src="/img/practice.png">
                What´s the weather like?
            </a>   
        </div>
        <hr>

        <h1>GREETINGS, FAREWELLS & INTRODUCTIONS</h1>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/nOxR9lwbnkQ?si=30268jTcGBAlQ2c_" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <h3>EXERCISES</h3>
        <div class="exercises">
            <a href="https://wordwall.net/resource/68326589/ingl%c3%a9s/greetings" target="_blank">
                <img src="/img/practice.png">
                Greetings
            </a>
            <a href="https://wordwall.net/resource/68327357/ingl%c3%a9s/greetings-farewells" target="_blank">
                <img src="/img/practice.png">
                Greetings & Farewells
            </a>
            <a href="https://wordwall.net/resource/68327955/ingl%c3%a9s/introductions-1" target="_blank">
                <img src="/img/practice.png">
                Introductions 1
            </a>
            <a href="https://wordwall.net/resource/68337067/ingl%c3%a9s/introductions-2" target="_blank">
                <img src="/img/practice.png">
                Introductions 2
            </a>
            <a href="https://wordwall.net/resource/68338756/ingl%c3%a9s/greetings-introductions" target="_blank">
                <img src="/img/practice.png">
                Greetings & Introductions
            </a>
        </div>
        <hr>

        <h1>THE ALPHABET</h1>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/nOxR9lwbnkQ?si=30268jTcGBAlQ2c_" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <h3>EXERCISES</h3>
        <div class="exercises">
            <a href="https://wordwall.net/resource/68343444/ingl%c3%a9s/the-alphabet-1" target="_blank">
                <img src="/img/practice.png">
                The Alphabet 1
            </a>
            <a href="https://wordwall.net/resource/68343877/ingl%c3%a9s/the-alphabet-2" target="_blank">
                <img src="/img/practice.png">
                The Alphabet 2
            </a>
        </div>
        <hr>

        <h1>CARDINAL NUMBERS: 0-20</h1>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/AdEufSx6N_U?si=in4RYZd2A1Sm4Lfz" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <h3>EXERCISES</h3>
        <div class="exercises">
            <a href="https://wordwall.net/resource/68356348/ingl%c3%a9s/numbers-0-9" target="_blank">
                <img src="/img/practice.png">
                Numbers 0-9
            </a>
            <a href="https://wordwall.net/resource/68346794/ingl%c3%a9s/telephone-numbers" target="_blank">
                <img src="/img/practice.png">
                Telephone Numbers
            </a>
            <a href="https://wordwall.net/resource/68345301/ingl%c3%a9s/whats-your-telephone-number" target="_blank">
                <img src="/img/practice.png">
                What´s your telephone number?
            </a>
            <a href="https://wordwall.net/resource/68356266/ingl%c3%a9s/numbers-10-20" target="_blank">
                <img src="/img/practice.png">
                Numbers 10-20
            </a>
            <a href="https://wordwall.net/resource/68355749/ingl%c3%a9s/how-old-are-you" target="_blank">
                <img src="/img/practice.png">
                How old are you?
            </a>
        </div>   
    </main>
    <footer>
        <p>Copyright © 2024 - Leiva Martín R.</p>
        <p><span class="icon-envelope"></span>englishcultivatehub@gmail.com &emsp;|| &emsp;<span class="icon-whatsapp"></span>(3482)-666150</p> 
        <div class="redes">
            <img class="logo-escuela" src="/img/logo_escuela.jpeg" alt="logo_escuela">
            <img class="escuela" src="/img/agrotecnica.jpg" alt="Escuela">
            <div class="iconos">
                <a href="https://www.facebook.com/groups/174789172685781" target="_blank" class="icon-facebook2"></a>
                <a href="https://www.instagram.com/agro487cas/?hl=es-la" target="_blank" class="icon-instagram"></a>
            </div>
        </div>
    </footer>
</body>
</html>